.wrapper {
  min-height: 100vh;
  display: flex;
}

.main {
  min-height: 100vh;
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  padding: 16px;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.balanceContainer {
  // width: 300px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: solid 2px rgb(var(--turquoise-400));

  &>span {
    display: flex;
    justify-content: space-between;

    svg{
      color: white;
      cursor: pointer;

      &:hover{
        color: rgb(var(--turquoise-400));
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &>b {
    font-size: 24px;
    color: rgb(var(--turquoise-500));
  }
}

.transactionListHeader {
  height: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  color: rgb(var(--turquoise-500));

  .filterIcon {
    cursor: pointer;
    color: white;

    :hover {
      color: rgb(var(--turquoise-500));
    }
  }
}

.filters {
  width: 100vw;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &>h3 {
    padding-bottom: 8px;
    color: rgb(var(--turquoise-400));
  }

  .filterRow {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-size: 14px;
    }
  }

  button {
    margin-top: 8px;
  }
}

.transactionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}