.wrapper {
  width: var(--sidebar-width);
  position: fixed;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background: rgb(var(--black-800));
  color: rgb(var(--turquoise-500));
}

.logout {
  display: flex;
  align-items: center;
  gap: 4px;

  &:hover{
    text-decoration: underline;
  }
}