.wrapper{
  max-height: calc(100vh - 32px - 32px);
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(var(--black-800),0.8);
  }  

  &::-webkit-scrollbar-thumb {
    background: rgb(var(--turquoise-500),0.5);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--turquoise-500),0.8);
  }
}

.transactionListItem{
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgb(var(--turquoise-400));

  .header{
    font-weight: 600;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    small{
      font-weight: normal;
      font-size: 12px;
    }
  }

  .earn{
    color: rgb(var(--green-200));
  }
  .loss{
    color: rgb(var(--red-200));
  }
}
