.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--black-700),0.9);
}

.wrapper{
  position: relative;
  border-radius: 4px;
  border: solid 2px rgb(var(--turquoise-400));
  padding: 2rem;
  background: rgb(var(--black-800));
}

.closeButton{
  position: absolute;
  top: 2px;
  right: 8px;
  color: crimson;
  font-weight: 900;
  font-size: 18px;
}