.button{
  width: 100%;
  padding: 12px 16px;
  background: rgb(var(--turquoise-500));
  color: rgb(var(--black-900));
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;

  &:not([disabled]):hover{
    background: rgb(var(--turquoise-400));
  }

  &[disabled]{
    // filter: grayscale(1);
    cursor: not-allowed;
  }
}